.column {
    &__container {
        display: flex;
        flex-direction: column;
        background-color: var(--list-background);
        border-radius: 10px;
        padding: 12px;
        gap: 15px;
        color: var(--list-text);
        height: 100%;
        width: 100%;
        position: relative;
    }
    &__taskContainer {
        position: relative;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }
    &__task {
        padding-right: 3%;
    }
    &__input {
        border: none;
        padding: 4px;
        border-radius: 5px;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    &__deleteButton {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: var(--list-addcard-text);
        font-size: 16px;

        &:hover {
            color: var(--button-hover-text);
        }
    }
}